<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Вход в аккаунт</h1>

<!-- Отобразить ошибку -->
<div th:if="${not #strings.isEmpty(error)}" style="color: red;">
    <strong th:text="${error}"></strong>
</div>

<form th:action="@{/login}" method="post">
    <label for="username">Введите логин</label>
    <input type="text" id="username" name="username" placeholder="login" required>
    <br><br>

    <label for="password">Введите пароль</label>
    <input type="password" id="password" name="password" placeholder="password" required>
    <br><br>

    <button type="submit">Отправить</button>
</form>

<hr>
<a th:href="@{/home}">На главную страницу</a>
<br>
<a th:href="@{/registration}">Нет аккаунта? Зарегистрироваться</a>

</body>
</html>